<form method="post" action="{{ path('name_delete', {'id': name.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ name.id) }}">
    <button class="btn btn-danger m-1"><img src="https://img.icons8.com/stickers/30/000000/trash.png" alt="Supprimer"/></button>
</form>
