<div class="container text-dark">
    {{ form_start(addForm) }}
    {{ form_widget(addForm) }}
    <div class="text-center mt-4">
        <button class="btn">{{ button_label|default('') }} <img src="https://img.icons8.com/color/60/000000/save-as.png" alt="Enregistrer"/></button>
    </div>
    {{ form_end(addForm) }}
</div>

