{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn ">{{ button_label|default('') }} <img src="https://img.icons8.com/fluency/100/000000/dice.png" alt="Random"/></button>
{{ form_end(form) }}
